// Calculates y = |x|
// x & y are static variables

// Put your code here.


// push x onto the stack 
push static 0
// push constant 0 onto the stack 
push constant 0 
gt 
if-goto popVALUE // if x > 0: goto popVALUE 

// if x <= 0 
push static 0
neg 
pop static 1 
goto END 

label popVALUE
push static 0
pop static 1 






label END
goto END