// Calculates a = x*y
// a is a local variable
// x & y are static variables

// Put your code here.


// Handling more conditions 
// We will make use 4 temporary variables in this exercise 
// ===========================================================
// push constant 0
// pop temp 0 // let t1 = 0
// push static 0 
// pop temp 0 // let t1 = x


// push constant 0
// pop temp 1 // let t2 = 0
// push static 1
// pop temp 1 // let t2 = y

// push static 0 
// push constant 0 
// lt 
// if-goto x_LT_0 // if x < 0: goto x_LT_0


// push static 1 
// push constant 0 
// lt 
// if-goto y_LT_0 // if y < 0: goto y_LT_0

// // Negate x 
// label x_LT_0
// push static 0
// neg // x = -x
// pop static 0 


// // Negate y
// label y_LT_0
// push static 1 
// neg // y = -y
// pop static 1 
// ===========================================================


// let sum = 0
push constant 0
pop temp 0

// let j = y
push static 1
pop temp 1

// Start our loop 
label START_LOOP 

// Break condition 
push temp 1
push constant 0
eq 
if-goto PRE_END // if j == 0: goto PRE_END 

// otherwise 
push temp 0
push static 0 
add 
pop temp 0 // sum = sum + x


push temp 1
push constant 1
sub 
pop temp 1 // j = j - 1 to decrement the loop counter 


goto START_LOOP

label PRE_END 
push temp 0
pop local 0 



label END
goto END